
TestApp/x64/Debug/TestApp.exe.recipe
TestApp/x64/Debug/TestApp.ilk
TestApp/x64/Debug/TestApp.log
TestApp/x64/Debug/TestApp.obj
TestApp/x64/Debug/testapp.obj.enc
TestApp/x64/Debug/TestApp.tlog/CL.command.1.tlog
TestApp/x64/Debug/TestApp.tlog/CL.read.1.tlog
TestApp/x64/Debug/TestApp.tlog/CL.write.1.tlog
TestApp/x64/Debug/TestApp.tlog/link.command.1.tlog
TestApp/x64/Debug/TestApp.tlog/link.read.1.tlog
TestApp/x64/Debug/TestApp.tlog/link.write.1.tlog
TestApp/x64/Debug/TestApp.tlog/TestApp.lastbuildstate
TestApp/x64/Debug/vc143.idb
TestApp/x64/Debug/vc143.pdb
x64/Debug/TestApp.exe
x64/Debug/TestApp.pdb
